<div class="Row mrg">
  <div class="block">
    Текущая загрузка постамата №<span style="color: #03a9f4">{{Current['pid_local']}}</span>
  </div>
  <div class="block">
    Дата и время обновления информации: <span style="color: #03a9f4">{{Current?.timestamp}}</span>
  </div>
</div>
<div class="Row mrg">
  <div class="block">
    {{Current['address']}}
  </div>
  <div class="block">
    <dx-button
      stylingMode="outlined"
      text="Установить мастер пин-код"
      type="default"
      [width]="280"
      (click)="popup=true; formTitle = 'Мастер пин-код'; title='Установка мастер пин-кода'"
      >
    </dx-button>
  </div>
  <div class="block">
    <dx-button
      stylingMode="outlined"
      text="Установить пароль"
      type="default"
      [width]="280"
      (click)="popup=true; title='Установка пароля';formTitle = 'Пароль';"
    >
    </dx-button>
  </div>
</div>
<div class="Row cellRow">
  <div class="cell" *ngFor="let item of postamat">
    <div class="cell-left">
      <div>
        Ячейка № {{item['row_id']}}
      </div>
      <div *ngIf="item['order_id']=='0'">
        Свободна
      </div>
      <div *ngIf="item['order_id']!='0'">
        Заказ №{{item['order_id']}}
      </div>
    </div>
    <div class="cell-right" >
      <dx-button
        stylingMode="contained"
        text="Открыть"
        type="default"
        [width]="100"
        (click)="service.openCell(Current['pid_global'],  item['row_id']).subscribe();postMeta()"
      >
      </dx-button>
      <dx-button
        style="margin-top: .5em"
        stylingMode="outlined"
        text="Пин"
        type="default"
        [width]="100"
        (click)="popup=true; title='Установка пин-кода'; formTitle = 'Пин-код';cell = item['row_id']"
      >
      </dx-button>
    </div>
  </div>
</div>
<dx-popup
  [width]="300"
  [height]="150"
  [showTitle]="true"
  [title]="title"
  [dragEnabled]="false"
  [closeOnOutsideClick]="true"
  [(visible)]="popup">
  <div *dxTemplate="let data of 'content'" style="display: flex;
flex-direction: row;
justify-content: space-around">

    <div class="option">
      <span>{{formTitle}}</span>
      <dx-number-box [(value)]="cod"></dx-number-box>
    </div>
    <dx-button
      style="margin-top: .5em"
      stylingMode="outlined"
      text="ОК"
      type="default"
      [width]="100"
      (click)="send()"
    >
    </dx-button>
  </div>
</dx-popup>

